[submodule "ytdl/core/ASCIIGraphs"]
	path = ytdl/core/ASCIIGraphs
	url = https://github.com/Chris1320/ASCIIGraphs.git
[submodule "ytdl/core/SimpleLogger"]
	path = ytdl/core/SimpleLogger
	url = https://github.com/Chris1320/SimpleLogger-python.git
